@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");

body {
    overflow-y: auto;
    overflow-x: auto;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/*container for main contents, anything below the navigation icon*/
#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1vh;
}

/*container for hero contents at top of main container*/
#page-top-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

#page-top-content h1 {
  width: auto;
  height: auto;
  font-size: 3rem;
  text-shadow: 1px 1px 0px lightgrey;
  animation: title 3s ease forwards;
}
@keyframes title {
  0% {color: var(--background-color);}
  100% {color: var(--font-color);}
}

.container {
  width: 70%;
}

.post {
    margin: 10px;
}
.post:after {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  padding: 0;
  content: "";
}

.post .title {
  font-size: 1.7rem;
  font-weight: bolder;
}

.post .description {
  font-size: 0.8rem;
}



