@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");

body {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/*container for main contents, anything below the navigation icon*/
#main-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1vh;
}

/*container for hero contents at top of main container*/
#page-top-container {
  flex: 0 0 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

#page-top-content {
  width: 30%;
  white-space: nowrap;
}

#page-top-content h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 0px lightgrey;
  animation: page-top-content 3s ease forwards;
}
@keyframes page-top-content {
  0% {color: var(--background-color);}
  100% {color: var(--font-color);}
}

/*container for notebooks*/
#notebooks-container {
    flex: 0 0 90%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
}

/*a links are the flex items, directly below notebook containers (flexbox)*/
#notebooks-container a { 
  flex: 0 0 28%;
  margin: 20px 20px 10px 20px;
}

/*individual notebook*/
.notebook {
    height: 340px;
    width: auto;
    overflow: visible;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.notebook_blank { /*notebook image, lined note or blank note*/
  background-image: url(../images/notepad_blank.png);
}
.notebook_lined {
  background-image: url(../images/notepad_lined.png);
}

.notebook p {
    font-family: 'Nothing You Could Do', cursive; /*a handwriting font, only used here for notes*/
    font-size: 200%;
    font-weight: bold;
    position: relative;
    top: 20%;
    left: 20%;
}

.notebook:hover {
  color: var(--blue-color);
  font-size: 100%;
}

/*for mobile screens*/
@media (max-width: 576px) { 
  #notebooks-container a {
    flex: 0 0 80%;
  } 
}

