/*modular css, for setting bookshelf.html layout*/

@import url("../../assets/css/colors.css");


.shelfname {
    position: relative;
    width: auto;
    height: 4vh;
    color: var(--font-color);
    text-align: center;
    line-height: 1;
    font-size: 2em;
}
