@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");

body {
    overflow-y: auto;
    overflow-x: auto;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/*container for main contents, anything below the navigation icon*/
#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1vh;
}

/*container for hero contents at top of main container*/
#page-top-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

#page-top-content h1 {
  width: auto;
  height: auto;
  font-size: 3rem;
  text-shadow: 1px 1px 0px lightgrey;
  animation: title 3s ease forwards;
}
@keyframes title {
  0% {color: var(--background-color);}
  100% {color: var(--font-color);}
}

#links-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.foldable {
  flex: 0 0 5%;
  cursor: pointer;
  padding: 1.5rem;
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
  width: 80%;
  background-color: var(--background-color);
  border: none;
  outline: none;
}

.active, .foldable:hover {
  color: var(--blue-color);
}

.foldable::before {
  content: '\002B'; /* +sign */
  font-size: 110%;
  margin-left: 20px;
  margin-right: 20px;
}

.active::before {
  content: "\2212"; /* -sign */
}

.folded-content {
  width: 65%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 1.2em;
}

.folded-content a {
  margin: 0px 0px 10px 0px;
}
.folded-content a:hover {
  color: var(--blue-color);
  font-weight: bold;
}

@media (max-width: 576px) {
  .foldable {
    font-size: 1em;
  }
  .folded-content {
    font-size: 0.8em;
  }
}