@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");

body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
}

#top-msg1 {
    margin-top: 50px;
    margin-bottom: 0px;
    color: var(--red-color);
    font-size: min(calc(1em + 5vw), 80px ); /*pick the smaller value for font*/
    font-weight: bold;
}

#top-msg2 {
    font-size: min(calc(1em + 4vw), 60px); /*pick the smaller value for font*/
    margin-top: 0px;
    margin-bottom: 50px;
}

#mail-open {
    height: 200px;
    width: 100%;
    background-image: url("../img/mail-open.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

#email-address {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

#social-media {
    min-height: 230px; /*height for the entire social media block should relate to the email column*/
    font-size: 2.6em;
    text-align: center;
}

#social-media a:hover > .iconify {
    color: var(--red-color);
}

#map-container {
    margin-top: 20px;
    position: relative;
    height: 350px;
};

#map {
    height: 100%;
    width: 100%;
    filter: blur(1px) opacity(70%);
    position: absolute;
}

#map:hover {
    filter: blur(0px) opacity(100%);    
}



