@import url("../../assets/css/colors.css");
@import url("../../assets/css/global_styles.css");


#page-top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

#page-top-content h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 0px lightgrey;
  animation: page-top-content 3s ease forwards;
}
@keyframes page-top-content {
  0% {color: var(--background-color);}
  100% {color: var(--font-color);}
}

#codebase-container {
  margin: 50px 30px 0 30px;
}

.card {
  margin-bottom: 20px;
}

.card-text {
  height: 80px;
}

.modal-body {
  min-height: 40vh;
  max-height: 70vh;
  width: auto;
  overflow-y: scroll;
}

.modal-body img {
  max-width: 100%;
}

.modal-body img {
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.java {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/java.png);
}
.python {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/python.png);
}
.r {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/r.png);
}
.octave {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/octave.png);
}
.php {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/php.png);
}
.javascript {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/js.png);
}
.html {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/html.png);
}
.excel {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/excel.png);
}
.android {
  width: auto;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/android.png);
}